.navbar{
   
    gap: 80px;
    color: white;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 40%;
   
 }
 .nav{
     background-color: #092d42;
 
 }
 .amazon{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     font-size: 38px;
 }
 .amazon-image{
     text-align: center;
 }
 .video-kur{
     width: 500px;
     height: 250px;
     margin-left: 30%;
 }
 .video-Aline{
     width: 500px;
     height: 250px;
     margin-left: 20%;
 
 
 }
 .video-section{
     display: flex;
     gap: px;
     
     
 }
 .video-wato{
     width: 500px;
     height: 250px;
     margin-left: 1%;
 
 }
 .video-linet{
    width: 500px;
    height: 250px;
    margin-left: 10%;

 }
 .video-daisy{
    width: 500px;
    height: 250px;
    margin-left: -42.3%;
    margin-top: 2%;

 }
 .video-section2{
    display: flex;
    gap: px;
    margin-left: 8%;
    margin-top: 2%;
   
    
 }
  .main-div{
    overflow-x: hidden;
  } 
  @media screen and (min-width:0px) and (max-width:300px){
    .video-section{
        flex-direction: column;

    }
    .video-section2{
        flex-direction: column;
    }
  }
  @media screen and (min-width:301px) and (max-width:480px){
    
  } 
 
 
 
 
 
 